@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&&subset=latin,latin-ext&display=swap');

body {
    font-family: 'Titillium Web', sans-serif !important;
    overflow-x: hidden;
}

html {
    font-size: 10px;
}
