.ui-add-post {
  height: 100%;
  width: 65%;
  margin: 1rem auto;

  h1 {
    margin-bottom: 3rem;
  }

  .form {
    display: flex;
    flex-direction: column;

    &__item {
      margin-bottom: 1.6rem;
      border: 1px solid $teal-dark;
      padding: .6rem;

      &:focus {
        border: 2px solid $teal-dark;
      }
    }

    button {
      width: 20%;
    }

    textarea {
      overflow: auto;
      outline: none;
    }
  }
}